<nav class="bg-surface-a0 border-b border-primary-a0 w-full">
    <div class="px-5 flex items-center justify-between mx-auto h-12 "> 
        <a href="https://github.com/dima-kharchenko/mvc-uni-project" target="_blank" class="text-4xl"><i class="fa fa-github"></i></a>
        <div class="flex items-center">
            <a href="/" className="text-white cursor-pointer font-medium">Home</a>
            <form action="/auth/logout" method="post" class="mb-0 ml-4">
                <button type="submit" name="logout" value="logout">Logout</button>
            </form>
        </div>
    </div>
</nav>

