<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="text-white">
        <%- include('./partials/header'); %>
        <p class="text-4xl">Home</p>
        <p>Welcome, <%= username %></p>

        <form action="/auth/logout" method="post">
            <button type="submit" name="logout" value="logout">Logout</button>
        </form>
    </body>
</html>
