<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="flex items-center justify-center">
    <div class="text-white w-80 p-8 bg-surface-a10 rounded-xl border border-primary-a0">
<<<<<<< HEAD
        <form action="/auth/login" method="post" class="justify-center text-center">
=======
        <form action="/auth/signup" method="post" class="justify-center text-center">
>>>>>>> dev
            <input id="username" name="username" type="text" reuquired placeholder="username" class="input">
            <input id="password" name="password" type="password" reuquired placeholder="password" class="input mt-6">
            <button type="submit" class="w-full h-11 px-6 rounded-md bg-primary-a0 text-sm shadow-primary-a0 hover:shadow-[0_0_4px_1px] focus:shadow-[0_0_4px_1px] duration-150 focus:outline-none cursor-pointer mt-10">Sign Up</button>
            <% if (failed) {%>
                <p class="mt-2 text-red-500">Signup failed</p>
            <% } %>
            <p href="#" class="text-white text-sm mt-8">Don't have an account? <a href="login" class="text-primary-a0">Log In</a></p>
        </form>
    </div>
</body>
</html>
